<!DOCTYPE html>
<html lang="en">

<head>
  <title>Cart</title>

  <!-- Link to css -->
  <link rel="stylesheet" href="/styles/cart.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />
  <link rel="stylesheet" href="/styles/location.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menupage.css" type="text/css" />

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  <!-- Montserrat Font Regular 400, Bold 700 -->
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;700&display=swap"
    rel="stylesheet">

  <!-- Javascript -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/cart.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <nav id="navbar">
      <img class="logo" src="../images/logo.png">
      <ul class="main-nav">
        <li><a href="/" class="trigger-btn " data-toggle="modal">Main page</a></li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <div class="col-md-9">
      <div class="title">
        <h5>MENU ITEMS</h5>
      </div>
      <% for (let item of menuItems) { %>
      <div class="cart-row">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <div class="cart-product-image">
                    <img src="<%= item.picture %>" class="item-imgs">
                  </div>
                </td>
                <td class="description">
                  <h3>
                    <%= item.name %>
                  </h3>
                  <p class="small">
                    <%= item.description %>
                  </p>
                  <div class="m-t-sm">
                    <a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                  </div>
                </td>
                <td>
                  <h4 class="cart-price">
                    $<%= (item.price / 100).toFixed(2) %>
                  </h4>
                </td>
                <td class="addButton">
                    <button type="submit" class="btn add-item-btn"  data-item-price="<%= item.price%>" data-item-id=<%= item.id %>>ADD</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <% } %>
    </div>

    <!-- Cart Summary -->

    <div class="col-md-3">
      <div>
        <div class="title">
          <h5>Cart Summary</h5>
        </div>
        <div class="content">
          <span>Total</span>
          <h2 class="font-bold total-price">$</h2>
          <hr>
          <div class="m-t-sm">
            <div class="btn-group">
              <form action="/confirmation" method="GET" class= "d-inline">
                <button class="btn btn-primary btn-sm" href="/confirmation">Checkout</button>
              </form>
              <a href="#" class="btn btn-white btn-sm">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
